<footer class="footer">

    <div class="container">

        <div class="footer-grid">

            <!-- Company -->
            <div class="footer-column">

                <h2 class="footer-logo">
                    <span class="logo-footer1">Kaam</span><span class="logo-orange">Setu</span>
                </h2>

                <p>
                    भारत का भरोसेमंद प्लेटफ़ॉर्म जहाँ ग्राहक और
                    कारीगर आसानी से जुड़ सकते हैं।
                </p>

            </div>

            <!-- Quick Links -->
            <div class="footer-column">

                <h3>Quick Links</h3>

                <ul>

                    <li><a href="/">Home</a></li>

                    <li><a href="#services">Services</a></li>

                    <li><a href="#how-it-works">How It Works</a></li>

                    <li><a href="#workers">Workers</a></li>

                </ul>

            </div>

            <!-- Company -->
            <div class="footer-column">

                <h3>Company</h3>

                <ul>

                    <li><a href="#">About Us</a></li>

                    <li><a href="#">Privacy Policy</a></li>

                    <li><a href="#">Terms & Conditions</a></li>

                    <li><a href="#">Contact Us</a></li>

                </ul>

            </div>

            <!-- Contact -->
            <div class="footer-column">

                <h3>Contact</h3>

                <p>📍 Noida, Uttar Pradesh</p>

                <p>📧 support@kaamsetu.in</p>

                <p>📞 +91-8057890236</p>

                <div class="social-links">

                    <a href="#">Facebook</a>

                    <a href="#">Instagram</a>

                    <a href="#">WhatsApp</a>

                </div>

            </div>

        </div>

        <hr>

        <div class="footer-bottom">

            <p>

                © 2026 KaamSetu. All Rights Reserved.

            </p>

        </div>

    </div>

</footer>